@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-cl: "#002";
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--text-cl);
}

h2 {
  font-size: 3rem;
  font-weight: 100;
  color: var(--text-cl);
}

h3 {
  font-size: 2.25rem;
  font-weight: 900;
  color: var(--text-cl);
}

h4 {
  font-size: 1.75rem;
  font-weight: 900;
  color: var(--text-cl);
}

h5 {
  font-size: 1.56rem;
  font-weight: 700;
  color: var(--text-cl);
}
